<p>
    <b>Joe Williams, Esq.</b>, Copps DiPaola Silverman, PLLC, won a case before the New York Appellate Division,
    protecting the privacy rights of a trans child to have name change records sealed.
    <a href="/public/assets/position-pdfs/CV_23_0596_Matter_of_Cody_VV__OPINION_AND_ORDER_14.pdf" download class="link-active">View the court decision.</a>
    <br><br>
    On November 20, 2022, NYAAFF members presented workshops at the largest tri-state
    adoption conference, the <a href="https://www.adoptiveparents.org/2022-conference-schedule" class="link-active">
        Annual Conference of the Adoptive Parents Committee</a>:<br><br>
    <b>Jeanine Castagna</b>: How to Identify Red Flags and Other Pitfalls on the Road to
    Adoption<br>
    <b>Brian Esser</b>: Successful Domestic Adoptions – Agency or Independent Placements,
    The Journey to Adoption: Issues for LGBTQ Families<br>
    <b> Robin Fleischner</b>: Surrogacy and Donation: Are You Ready to Switch?<br>
    <b>Michael Goldstein</b>: Successful Domestic Adoptions – Agency or Independent
    Placements, Adopting as a Single Parent<br>
    <b>Rebecca Mendel</b>: Creating Adoption Profiles: Advice from an Attorney, What to Expect
    in Private Interstate Adoption<br>
    <b>Denise Seidelman</b>: New York Domestic Adoption – Agency vs. Independent, Open
    Adoption
</p>