<p>
    <img src="public/assets/images/Denise Seidelman.jpg" alt="Denise E. Seidelman, Esq." id="denise-seidelman-image">
    <br><br>
    The Academy of Adoption and Assisted Reproduction Attorneys honored NYAAFF member <b>Denise Seidelman</b> with the "Fellow of Distinction" Award for her tireless efforts advocating for legislation like the New York Child Parent Security Act to benefit New York families and children.
</p>
