<p>
    President of NYAAFF&#39;s Board of Directors <b>Casey DiPaola</b> and NYAAFF Treasurer <b>Joe
        Williams</b> presented on parentage proceeding in assisted reproduction and surrogacy
    cases to the Surrogate’s Court Law Association and Surrogate’s Court Clerks
    Association on November 15, 2022. <br><br>
    President of NYAAFF&#39;s Board of Directors <b>Casey DiPaola </b> and NYAAFF Director
    <b>Amelia Demma </b>spoke at <a href="https://menhavingbabies.org/surrogacy-seminars/ny/" class="link-active">
        the November Men Having Babies NYC conference</a>. Attorney
    DiPaola spoke on surrogacy legislation in New York as well as surrogacy laws across
    the United States. Attorney Demma spoke on advocacy efforts with respect to NY&#39;s IVF
    Insurance Mandate legislation as well as the construct and purpose of Gestational
    Surrogacy Agreements.<br><br>
    NYAAFF member<b> Robin Fleischner </b>presented a workshop on switching from adoption
    to surrogacy and egg, sperm, and embryo donation at the November 2022 <a
            href="https://www.adoptiveparents.org/2022-conference-schedule"
            class="link-active">Annual
        Conference of the Adoptive Parents Committee</a>.
</p>