.footer {
    background: rgb(34, 38, 43);
    margin: 0;
    color: #c9c9c9;
    font-size: 15px;
    padding: 20px 20px 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer p {
    margin: 0;
}
.footer span {
    display: block;
}
.footer a {
    color: inherit;
}

.footer .social-icons {
    font-size: 35px;
}

.backlink {
    font-size: 13px;
    color: gray;
}

.co-presidents-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
}

.footer--contact {
    flex: 2;
}

.footer--info {
    flex: 1;
}

.president-info {
    flex: 1;
    min-width: 260px;
}

.president-info p {
    margin: 0;
}

@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer--contact {
        margin-bottom: 30px;
    }

    .co-presidents-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer--info {
        text-align: center;
    }
    .aaaa-logo {
        margin-bottom: 10px;
        width: 100%;
    }
}
