.top-image {
    background-image: url('/public/assets/images/courthouse.jpg');
}

.effort--title {
    font-size: 70px;
}

@media screen and (max-width: 975px) {
    .effort--title {
        font-size: 50px;
    }
}

@media screen and (max-width: 675px) {
    .effort--title {
        font-size: 35px;
    }
}

/*.main-nav--item.active, .main-nav--item:hover {
    color: #81bcff;
}*/

.efforts-list {
    margin: 30px 100px;
}
@media screen and (max-width: 600px) {
    .efforts-list {
        margin: 30px 0;
    }
}

.effort-list--item {
    margin: 50px 0;
}
.effort-list--item .title {
    font-size: 25px;
    margin: 5px 0;
}
.effort-list--item .info {
    font-size: 20px;
}

.effort--description {
    font-size: 17px;
}

.effort-list--item span {
    display: block;
}
.file-list {
    display: block;
    margin-top: 10px;
}

.vimeo-player {
    max-width: 100%;
}
