.banner {
    background: #ff5454;
    padding: 10px;
    color: #3c3c3c;
    display: flex;
    align-items: center;
}

.banner .alert-icon {
    margin-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 20px 50px;
    transition: background 1000ms;
    height: 111px;
    overflow: hidden;
    background: rgb(34, 38, 43);
}

.header--logo-wrapper {
    width: 30%;
    max-width: 350px;
    min-width: 200px;
    background: transparent;
    transition: background 1000ms;
    border-radius: 0.25rem;
    padding: 10px;
    box-sizing: content-box;
    height: 100%;
}

.header--logo {
    height: 100%;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.header .header--logo-wrapper {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
}

.main-nav {
    font-size: 2.2vw;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.9) 0 0 25px;
    display: flex;
}

@media screen and (min-width: 1350px) {
    .main-nav {
        font-size: 28px;
    }
}

.main-nav--item {
    color: #f8f8f8;
    transition: color 200ms;
    margin-left: 40px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.main-nav--item:after {
    content: ' ';
    display: block;
    height: 3px;
    background: #3075be;
    width: 0;
    transition: width 250ms ease-in-out;
}

.main-nav--item.active:after,
.main-nav--item:hover:after {
    width: 100%;
}

.main-nav--item.active:after {
    background: #ffbb3b;
}

.top-image {
    height: 70vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    /* background-attachment: fixed;*/
}

@media screen and (max-width: 900px) {
    .top-image {
        height: 60vh;
    }
}

@media screen and (max-width: 600px) {
    .top-image {
        height: 40vh;
    }
}

@media screen and (max-width: 400px) {
    .top-image {
        height: 25vh;
    }
}

.top-image .text-wrapper {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: #f9f9f9;
    text-shadow: rgba(0, 0, 0, 0.6) 0 0 25px;
}

.top-image .text-wrapper h1 {
    margin: 0;
    font-size: 85px;
}

.top-image .text-wrapper .subtext {
    font-weight: 500;
    font-size: 35px;
}

.hamburger-wrapper {
    display: none;
    font-size: 24px;
    position: absolute;
    right: 40px;
    margin-left: auto;
    color: white;
    user-select: none;
    --webkit-user-select: none;
    cursor: pointer;
}

@media screen and (max-width: 350px) {
    .hamburger-wrapper {
        right: 16px;
    }
}

@media screen and (max-width: 975px) {
    .top-image .text-wrapper h1 {
        font-size: 9.5vw;
    }

    .top-image .text-wrapper .subtext {
        font-size: 4vw;
    }

    .hamburger-wrapper {
        display: block;
    }

    .header {
        background: rgb(34, 38, 43);
        overflow: hidden;
    }

    .header.active {
        overflow: visible;
    }

    .header--logo-wrapper {
        background: white;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background: inherit;
        padding: 20px;
        right: 0;
        font-size: 24px;
        width: 100%;
        overflow: hidden;
        height: 0;
        transition: height 200ms;
    }

    .header.active .main-nav {
        height: auto;
    }

    .main-nav--item {
        margin-left: 0;
        border-bottom: 1px solid gray;
        padding: 8px;
    }
}
