<footer class="footer">
    <div class="footer--contact">
        <p> NYAAFF can be reached through its President:<br>
            Kathleen (“Casey”) Copps DiPaola, Esq.<br>
            Copps DiPaola Silverman, PLLC<br>
            1 Marcus Blvd., Suite 200<br>
            Albany, New York 12205<br>
            518-436-4170<br>
            518-436-1456 Fax<br>
            <a href="mailto:kdipaola@theCDSLawFirm.com">kdipaola@theCDSLawFirm.com</a>
        </p>
    </div>
    <div class="footer--info">
        <a target="_blank" href="https://www.adoptionART.org"><img class="aaaa-logo" src="/public/assets/images/AAAA-logo.jpg"></a>
        <div class="social-icons">
            <a target="_blank" href="https://www.facebook.com/NYAAFF/"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://twitter.com/NYAAFF2020/"><i class="fab fa-twitter"></i></a>
        </div>
        <span>Copyright @<%= (new Date()).getFullYear() %> NYAAFF. All Rights Reserved.</span>
        <span class="backlink">Web Development by Josh Brown  <a target="_blank" href="https://joshbrown.info">joshbrown.info</a></span>
    </div>
</footer>
<script src="/public/js/nav-bar.js"></script>
