<footer class="footer">
    <div class="footer--contact">
        <p> NYAAFF can be reached through its Co-Presidents:</p>
        <div class="co-presidents-container">
            <div class="president-info">
                <p>
                    Laurie Goldheim<br>
                    20 Old Nyack Turnpike<br>
                    Nanuet, NY 10954<br>
                    (845) 624-2727<br>
                    <a href="mailto:lgoldheim@adoptionrights.com">lgoldheim@adoptionrights.com</a> (212) 972-5431<br>
                    www.adoptionrights.com
                </p>
            </div>
            <div class="president-info">
                <p>
                    Rebecca Mendel<br>
                    Rosin Steinhagen Mendel, PLLC<br>
                    228 East 45th Street, Suite 900<br>
                    New York, New York 10017<br>
                    <a href="mailto:rmendel@lawrsm.com">rmendel@lawrsm.com</a><br>
                    www.lawrsm.com
                </p>
            </div>
        </div>
    </div>
    <div class="footer--info">
        <a target="_blank" href="https://www.adoptionART.org"><img class="aaaa-logo" src="/public/assets/images/AAAA-logo.jpg"></a>
        <div class="social-icons">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=61556740273711"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://www.instagram.com/nyaaff2024/"><i class="fab fa-instagram"></i></a>
        </div>
        <span>Copyright @<%= (new Date()).getFullYear() %> NYAAFF. All Rights Reserved.</span>
    </div>
</footer>
<script src="/public/js/nav-bar.js"></script>
