<p class="effort--description">This law legalized compensated gestational surrogacy in New York and created a statutory
    framework for establishing
    legal parentage for children born through assisted reproduction and surrogacy. NYAAFF has been a staunch advocate
    for the CPSA since it was initially introduced to the legislature nearly a decade ago.</p>
<iframe class="vimeo-player" title="vimeo-player" src="https://player.vimeo.com/video/507609280" frameborder="0"
        allowfullscreen></iframe>
<iframe class="vimeo-player" title="vimeo-player" src="https://player.vimeo.com/video/505777255" frameborder="0"
        allowfullscreen></iframe>
<iframe class="vimeo-player" title="vimeo-player" src="https://player.vimeo.com/video/504521472" frameborder="0"
        allowfullscreen></iframe>
<iframe class="vimeo-player" title="vimeo-player" src="https://player.vimeo.com/video/502753509" frameborder="0"
        allowfullscreen></iframe>
<iframe class="vimeo-player" title="vimeo-player" src="https://player.vimeo.com/video/508933777" frameborder="0"
        allowfullscreen></iframe>
<iframe class="vimeo-player" src="https://www.youtube.com/embed/o2Re18I6ACE" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
