<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/public/css/mission.css">
    <title>Mission | NYAAFF</title>
</head>
<body>
<%- include("partials/header.ejs", {page: "mission" }) %>
<div class="top-image">
    <div class="text-wrapper">
        <h1 class="top-title"> NYAAFF's Mission</h1>
        <span class="subtext">Who We Are</span>
    </div>
</div>
<div class="content-wrapper">
    <h2>Our Mission</h2>
    <p class="info">New York Attorneys for Adoption & Family Formation (NYAAFF) is a group of attorneys, who are recognized for their extensive experience in the practice of adoption and assisted reproduction law, and other distinguished New York child-welfare professionals. NYAAFF members are highly vetted thought leaders who work with adoptive families, birth parents, intended parents, surrogates, donors, children, adoption, surrogacy, egg donor and child welfare agencies, as well as the court system. Our goal is to protect and advocate for the rights of adoptive children, children born through assisted reproduction and their families.</p>
</div>
<%- include('partials/footer.ejs') %>
</body>
</html>
