<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head.ejs %>
    <link rel="stylesheet" href="/public/css/mission.css">
    <title>Mission | NYAAFF</title>
</head>
<body>
<%- include("partials/header.ejs", {page: "mission" }) %>
<div class="top-image">
    <div class="text-wrapper">
        <h1>NYAAFF's Mission</h1>
        <span class="subtext">Who We Are</span>
    </div>
</div>
<div class="content-wrapper">
    <h2>Our Mission</h2>
    <p class="info">New York Attorneys for Adoption & Family Formation (NYAAFF) is a group of adoption and assisted reproduction law attorneys and other child-welfare professionals from across New York State, who work with adoptive families, birth parents, adoption agencies, children, child welfare agencies and the court system to protect and advocate for the rights of adoptive children, children born through assisted reproduction and their families.</p>
</div>
<%- include partials/footer.ejs %>
</body>
</html>
