<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/public/css/mission.css">
    <title>Mission | NYAAFF</title>
</head>
<body>
<%- include("partials/header.ejs", {page: "mission" }) %>
<div class="top-image">
    <div class="text-wrapper">
        <h1 class="top-title"> NYAAFF's Mission</h1>
        <span class="subtext">Who We Are</span>
    </div>
</div>
<div class="content-wrapper">
    <h2>Our Mission</h2>
    <p class="info">New York Attorneys for Adoption & Family Formation (NYAAFF) is an association of distinguished attorneys dedicated to shaping the future of adoption, assisted reproduction and child welfare in New York.  With extensive experience, our members are leaders vetted in these fields, working hand-in-hand with individuals and agencies to form and protect families. We advocate in the New York courts and legislature for the rights, dignity and legal security of all children and families formed through assisted reproduction and adoption.</p>
</div>
<%- include('partials/footer.ejs') %>
</body>
</html>
